plugins:
  - jekyll-relative-links
relative_links:
  enabled: true
  collections: true
include:
  - README.md
  - LICENSE.md

title: Game of Turing
description: If a machine wins in this game the participating human is pronounced to be 'turinged'.
